@font-face {
    font-family: "Roboto";
    src: url(./Police/roboto_thin_macroman/Roboto-Thin-webfont.woff);

} 

@font-face {
    font-family: "robotomedium" ;
   src: url(./Police/roboto_medium_macroman/Roboto-Medium-webfont.woff);
}

@font-face {
    font-family: "robotobold";
    src: url(./Police/roboto_bold_macroman/Roboto-Bold-webfont.woff);
}

@font-face {
    font-family: "shrikhand";
    src: url(./Police/shrikhand/Shrikhand-Regular.otf);
}

body
{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    /*width: 30%;
    margin-inline: 35%;*/
}


#header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
        
}

#header-nav 
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
    height: 100px;
        
}

.header-nav__logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;
}

   
    
.header-nav__logo img 
{
    width: 40%; 
    height: 35px;
}

.header-nav__search-bar
{   
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 0deg, #eaeaea 80%, 95%, #cecece 100%);
} 

.header-nav__search-bar i 
{
    padding-inline: 10px;
}

#header-nav--search-zone
{
    border:none;
    outline:none;
    background-color:rgb(234,234,234);      
}

#header-nav--search-zone::placeholder
{
    color: black;
    font-weight: bolder ; 
    font-size: 1.1em;
    padding-inline: 10px
}

.first-title-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    background-color: rgb(246, 246, 246);
    text-align: center;
    font-family: "robotobold";
}

h1 
{   
    font-weight:bold;
    font-size: 1.6em;
    width: 70%; 
        
}

.first-title-card p 
{
    font-weight: 100;
    font-size: 1em;
    width: 80%;
}

.first-title-card__btn
{
    width: 60%; 
       
}

.first-title-card__btn button 
{
    height: 50px;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 30px;
    background: linear-gradient(170deg,  #FF79DA 4% , #9356DC ); 
    color: white;
    font-size: large;
        
}
/*  MAIN   */
#fct_section
{
    height: 300px;
    width: 100%;
}
     
h2 
{
    margin-inline: 10px;
}

.fct-section__div-card
{
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
    height: 200px;
        
}

.fct-section--card
{
    border-radius: 15px 15px 15px 15px;
    width: 80%;
    background-color: rgb(246, 246, 246);   
    cursor: pointer;     
} 

.fct-section--card:hover
{
  background-color: #f5edff;
  
    
}  

.fct-section--card span 
{
    position: absolute;
    transform: translate(-120%, -20%);
    border-radius: 80px;
    padding: 6px 10px;
    background-color: #9356DC;
    font-size: small;
    color: white;
}
.fct-section--card p
{
    text-align: justify;
    padding-left: 20px;
}
     
.fct-section--card p i 
{
    padding: 0 15px;
    color: rgba(126,126,126);
}


.fct-section--card:hover .fa-solid{
    color: #9356DC;
} 




.restaurant-section
{
    background-color: rgb(246, 246, 246); 
    padding-top: 30px;
    padding-bottom: 50px;
}

/*.restaurant_section .restaurants_card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    
}*/
        
    
.restaurant-section__card
{   position: relative;
    width: 90%;
    margin: 20px;
}  

.restaurant-section__imgdiv
{
    height: 230px;
}

.restaurant-section__new-contain
{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 15px;
    background-color:#99e2d0 ;
    color:#008766;
    width: 25%;
    height: 30px;
    border-radius: 2px;
}

.restaurant-section__new-contain p
{
    width: 100%;
    text-align: center;
    display: block;

}
   
.restaurant-section__imgdiv img 
{
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.restaurant-section__txtdiv
{
    height: 55px;
    padding: 15px 10px;
    background-color: white;
    border-radius: 0 0 20px 20px;
}
    
h3 
{
    margin: 0;
    font-family: "robotobold";
}

.restaurant-section__txtdiv p
{
    margin: 5px 0;
    width: 50%;
}

.icon
{
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: xx-large;
    cursor: pointer;
}
.restaurant-section__txtdiv a
{
    text-decoration: none;
    color: black;
}

.fa-heart
{
    color: #d3d3d052;
}
.fa-heart:hover
{
    color: #c667db 
    
}


 
#footer
{
    height: 200px;
    background-color: #353535;
    color: #FFFFFF;
    padding: 20px;
    padding-bottom: 20px;
   
}

#footer i 
{
    padding-inline: 10px;
}

#footer p
{
    line-height: 2;

}

.span_footer
{
    font-family: "shrikhand";
}


/* MEDIA QUERIES */

@media screen and (max-width:768px)
{

}






  



    
    



    
