@font-face {
    font-family: "Roboto";
    src: url(./Police/roboto_thin_macroman/Roboto-Thin-webfont.woff);

} 

@font-face {
    font-family: "robotomedium" ;
   src: url(./Police/roboto_medium_macroman/Roboto-Medium-webfont.woff);
}

@font-face {
    font-family: "robotobold";
    src: url(./Police/roboto_bold_macroman/Roboto-Bold-webfont.woff);
}

@font-face {
    font-family: "shrikhand";
    src: url(./Police/shrikhand/Shrikhand-Regular.otf);
}

@keyframes card_moovUp
{
   0%{
       transform: translateY(50px);
       opacity: 0;
    }

    /* 50%{
        transform: translateY(15px);
        opacity: .5;
    } */

   100%{ 
       transform: translateY(0);
       opacity: 1;
    }

}

@keyframes swipRight{
    0%{
        transform: translateX(0);

        
    }

    100%{
        transform: translateX(-20%);

       
    }
}

@keyframes rotate
{
    from{
        transform: rotate( 0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

body
{ 
    display:flex;
    flex-direction: column;
    align-items: center; 
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

header
{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    font-size: 1em;
        
}

.header__logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;
}

.header__logo img
{
    height: 35px;
    
}
.header__logo i
{
    position: absolute;
    left: 5%;
    font-size: x-large;
}

.header__logo a
{
    text-decoration: none;
    color: #353535;
  
}


.header__french-img-div
{
   
    background-image: url(./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: flex-end;
  
}

.header__first-title-div--icon
{
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    font-family: "shrikhand";
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    padding-inline: 25px;
}

h1{
    font-size: 25px;
}


 
.header__first-title-div--icon i
{
    font-size: 30px;

}
.fa-heart
{
    color: #d3d3d052;
}
.fa-heart:hover
{
    color: #c667db 
    
}



main
{
   
    margin:  0px 5px;
    width: 100%;
    background-color:#f6f6f6;
   
}

.french-card-contain
{
    margin: 10px 20px 0px 20px;
    

}

.french-card-contain__subtitle p
{
    margin: 5px 0;
}

.french-card-contain__subtitle span
{
    border-bottom: 3px solid #99e2d0;
    padding-bottom: 5px;  
    display: inline-block;
}

.french-meal
{
    border-radius: 15px;
    margin-block: 15px;
    padding: 5px 10px;
    background-color: #FFFFFF;
    height: 60px ;
    box-shadow: 0 2px 4px 0 #d7d7d7;
       
}

h3, .french-meal p
{
    margin: 5px 0;
}

.french-meal p span
{
    font-weight: bold;
}

.french-meal:hover
{
    animation: swipRight 1s;
}

.french-meal__animation--swip 
{
    background-color: #99e2d0;
    height: 50px;  
    
}


.french-meal__animation--swip i
{
 animation: rotate 1s linear;
 animation-direction: reverse;
 color: white;
 font-size: 50px;

 
}
.animation1
{
    animation: card_moovUp linear 1.2s both;
    animation-delay: 5ms;
    
    
}

.animation2{
    animation: card_moovUp linear 1.5s both;
    animation-delay: 5ms;
}

.animation3{
    animation: card_moovUp linear 2s both;
    animation-delay: 5ms;
}



.order__btn
{
    border: none;
    border-radius: 80px;
    padding: 15px 40px;
    width: 50%;
    margin: 10% 25%;
    color: white;
    background: linear-gradient( 170deg,  #FF79DA 4% , #9356DC );
   

}

footer{
    width: 100%;
}

#footer
{
    height: 200px;
    background-color: #353535;
    color: #FFFFFF;
    padding: 20px;
    padding-bottom: 20px;
    
   
}

#footer i 
{
    padding-inline: 10px;
}

#footer p
{
    line-height: 2;

}

.span_footer
{
    font-family: "shrikhand"; 
}